aiocoap==0.3
aiohttp==3.5.4

asn1crypto==0.24.0
async-timeout==3.0.1
attrs==18.2.0
bleach==3.1.0

certifi==2018.1.18
chardet==3.0.4

cryptography==2.1.4



dj-database-url==0.5.0
Django==2.1.7
django-debug-toolbar==1.11
django-filter==2.1.0
django-todo==2.2.1
djangorestframework==3.9.1
djangorestframework-datatables==0.4.1

